<div class="intro-img">
    <div class="overlay">
        <div class="container text-white">
            <h1>Ministerio Amigos de Jesús y María</h1>
            <table align="center">
                <tr>
                    <td>Dejen a los niños, y no se los impidan que vengan a mí, porque de los que son como éstos es el Reino de los cielos</td>
                </tr>
                <tr>
                    <td class="q-source">Mateo 19,14</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="home-block bg-light-green text-white">
    <div class="container">
        <h2>Mantente Informado</h2>
        <%= form_for(@subscription) do |f| %>
            <% if @subscription.errors.any? %>
                <div id="error_explanation">
                <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this product from being saved:</h2>
                <ul>
                <% @subscription.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
                </div>
            <% end %>
        <div class="form-group">
            <%= f.text_field :email, :class => 'form-control', :placeholder => "Digita tu Correo", aria: { describedby: "emailHelp" }%>
            <small id="emailHelp" class="form-text text-muted">Nunca corpartiríamos tu correo con nadie más</small>
        </div>
        <div class="actions">
        <%= f.submit 'Enviar', class: 'btn btn-primary '%>
        </div>
        <% end %>
    </div>
</div>